/* Swiper navigation arrows position adjustment */
.swiper-button-prev,
.swiper-button-next {
  color: black; /* Match the theme color */
  transform: translateY(20%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev {
  left: 0px; /* Adjusted for better visibility */
}

.swiper-button-next {
  right: 0px; /* Adjusted for better visibility */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}
